{% extends "base.html" %}

{% block title %}{{ profile.full_name if profile else 'Profile' }} | {{ APP_NAME }} Premium{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/namvibe_profile_pro.css">
{% endblock %}

{% block extra_js %}
{{ super() }}
<script src="/static/js/follow_request_controls.js"></script>
<script src="/static/js/namvibe_stories_engine.js"></script>
<script src="/static/js/namvibe_profile_pro.js"></script>
<script src="/static/js/profile_systems.js"></script>
{% endblock %}

{% block content %}
<div class="premium-profile-shell">
    {% block profile_body %}{% endblock %}
</div>
{% endblock %}
