{% extends "base.html" %}

{% block title %}{{ profile.full_name if profile else 'Profile' }} | Chain Premium{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/profile_premium.css">
<link rel="stylesheet" href="/static/css/chain_profile.css">
{% endblock %}

{% block extra_js %}
{{ super() }}
<script src="/static/js/profile.js"></script>
<script src="/static/js/profile_premium.js"></script>
{% endblock %}

{% block content %}
<div class="premium-profile-shell">
    {% include "profile/partials/profile_header.html" %}
    {% if not profile_fallback %}
    {% include "profile/partials/profile_tabs.html" %}
    {% endif %}
    {% block profile_body %}{% endblock %}
</div>
{% endblock %}
