{% extends "base.html" %}
{% block title %}Feed - NamVibe{% endblock %}
{% block head %}
<link rel="stylesheet" href="/static/css/namvibe_feed_pro.css?v=phase93">
{% endblock %}
{% block content %}
<div class="feed-tabs" id="feed-tabs">
  <button class="feed-tab active" data-tab="forYou">For You</button>
  <button class="feed-tab" data-tab="following">Following</button>
  <button class="feed-tab" data-tab="trending">Trending</button>
  <button class="feed-tab" data-tab="nearby">Nearby</button>
</div>

<div class="feed-container">
  <div id="feed-container"></div>
  <div id="feed-loading" class="feed-loading" style="display:none">Loading...</div>
  <div id="feed-end" class="feed-end" style="display:none">You're all caught up</div>
  <div id="feed-error" class="feed-error" style="display:none"></div>
  <div id="feed-sentinel" style="height:1px"></div>
</div>

{% if profile %}
<script id="feed-profile-data" type="application/json">{{ profile | tojson | safe }}</script>
{% endif %}
<script src="/static/js/namvibe_feed_pro.js?v=phase93"></script>
{% endblock %}
